

.form-control.is-invalid {
    border-color: #dc3545;
    background-image: url(./assets/images/cross.svg) !important;
}
.was-validated .form-control:valid {
    border-color: #0979f9 !important;
    background-image: url(./assets/images/check.svg) !important;
}